name: Branch Check

on:
  push:
    branches-ignore:
      - "main" # Ignores pushes to the main branch

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      # Install dependencies
      - name: Install
        run: bun install --frozen-lockfile --ignore-scripts

      # Lint
      - name: Lint
        run: bun lint

      # Build
      - name: Build
        run: bun run build

      # Run Tests
      - name: Run Tests
        run: bun test:all

      # Release
      - name: Release (Canary)
        run: |
          npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_ACCESS_TOKEN }}
          bun changeset version --snapshot dev
          bun changeset publish --tag dev --no-git-tag --access public
