name: Branch Check

on:
  push:
    branches-ignore:
      - "main" # Ignores pushes to the main branch

jobs:
  build:
    if: github.repository == 'SundaeSwap-finance/sundae-sdk'
    permissions:
      id-token: write
      contents: write
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - uses: actions/setup-node@v3
        with:
          node-version: 22

      # Install dependencies
      - name: Install
        run: bun install --frozen-lockfile --ignore-scripts

      # Lint
      - name: Lint
        run: bun lint

      # Build
      - name: Build
        run: bun run build

      # Run Tests
      - name: Run Tests
        run: bun test:all

      # Release
      - name: Release
        uses: changesets/action@v1
        with:
          publish: bun publish:canary:ci
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
